@import "./reset";
@import "./variable";
@import "./function";
@import "./mixin";
@import "./typography";
@import "./layout";
@import "./list";
@import "./btn";
@import "./banner";
@import "./media";
@import "./input";
@import "./search";
@import "./animation";
@import "./loader";
@import "./header";
@import "./footer";
@import "./innerPage";


.banner {
    padding: 0 1rem;
    background: #000;
    color: #fff;

    h1 {
        position: relative;
        z-index: 2;
        .bannert {
            display: flex;

            &2 {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 20rem;
                    height: 26rem;
                    background: #F40E2D;
                    border-radius: 10rem;
                    z-index: -1;
                }
            }
        }

        span {
            font-family: "Qeilab", serif;
            font-size: 16rem;
        }
    }
}

.btn_1 {
    position: relative;
    line-height: 5rem;
    overflow: hidden;
    border-radius: 5rem;
}

.btn_1:hover .liquid {
    top: 12rem;

}

.btn_1 a {
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;

}

.btn_1 dd {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 0 2rem;
}

.btn_1 .liquid {
    position: absolute;
    left: 0;
    top: -11.8rem;
    width: 30rem;
    height: 30rem;
    background: #4973ff;
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.btn_1 .liquid:before,
.btn_1 .liquid:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.btn_1 .liquid:before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animation 5s linear infinite;

}

.btn_1 .liquid:after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: animation 10s linear infinite;

}

@keyframes animation {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}
